body {
  background: "white";
  font-family: "Andale Mono";
}

div{
  
  padding-bottom: 20px;
}

img{
  padding: 10px;
}

span{
  padding: 10px;

}

input{
  margin: 10px;
}

div.page {
  background: #A3BFBD;
}

div.book{
  background: #EFFEFD;
}



header {
  background: #EFFEFD;
}